/* Universal Styles */

html {
  font-family: "Cabin", sans-serif;
  font-size: 16px;
  color: #424242;
}

.container {
  padding-left: 24px;
  display: flex;
  width: auto;
}

h1 {
  font-weight:700;
  font-size: 3rem;
  line-height: 1.1;
}

h2 {
  font-weight: 700;
  font-size: 2rem;
  line-height: 1.5;
}

h3 {
  font-weight: 700;
  font-size: 1.7rem;

}

h4 {
  font-weight: 200;
  font-size: 1rem;
  line-height: 1.1;
}

h5 {
  font-weight: 600;
  font-size: .85rem;

}

/* HEADER */

.logo {
  height: 32px;
  display: flex;
  align-items: center;
  padding-left: 24px;
}

#bold {
  font-weight: 700;
  font-size: 1.3rem;
}

#normal {
  font-weight: 200;
  font-size: 1.3rem;
}

header {
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav {
  padding-right: 24px;
  display: flex;
  align-items: center;
}

nav span {
  padding-left: 16px;
}

/* BANNER */

#gray {
  background-color: #D3D3D3;
  width: auto;
}

.banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.banner img {
  width: 60%;
}

.banner_text {
  padding-left: 24px;
}

.banner_text h3 {
  padding: 18px 0;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #424242;
  color: #f2f2f2;
  width: auto;
  padding: 8px 0;
}

/* INFORMATION */

.information {
  display: flex;
  flex-direction: row;
}

.large_tout {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 60%;
  padding: 32px 24px 32px 0;
}

.large_tout h2 {
  padding: 32px 0 24px 0;
}

.large_tout h4 {
  padding-bottom: 32px;
}

.tout_image {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
}

.tout_image img {
  max-width: 100%;
}

.info_column {
  display: flex;
  flex-wrap: wrap;
  width: 40%;
  border-left: solid #D3D3D3 1px;
  padding: 0 0 32px 0;
}

.info_item {
  display: flex;
  max-height: 176px;
  padding: 16px;
  margin: 1px 0 1px 0;
  border-top: solid #D3D3D3 1px;
}

.info_item .tout_image {
  width: 35%;
}

.info_item .text {
  display: flex;
  flex-wrap: wrap;
  width: 65%;
  padding-left: 24px;
  align-content: center;
}

.info_item .text h3 h4 {
  padding-bottom: 8px;
}

.info_item:first-child {
  border-top: none;
  border-bottom: solid #D3D3D3 1px;
  padding-top: 32px;
}

.info_item:last-child {
  background-color: #D3D3D3;
  border-top: none;
}


/* COURSES */

.learn {
  display: flex;
  padding: 32px 56px 32px 32px;
  flex-wrap: wrap;
  width: 100%;
}

.learn h2 {
  display: flex;
  justify-content: center;
  text-align: center;
  width: 100%;
}

.courses {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.course {
  width: 30%;
  margin: 32px 16px;
}

.course img {
  max-width: 100%;
  margin: 0;
}

.course .text_content {
  background-color: #ffffff;
  padding: 16px;
  min-height: 102px;
}

.course .text_content h4 {
  padding-top: 8px;
}

.course .text_content h3 {
  padding-bottom: 8px;
}
