/* Universal Styles */

html {
  font-family: "Cabin", sans-serif;
  font-size: 16px;
  color: #424242;
}

.container {
  padding-left: 24px;
  width: auto;
}

h1 {
  font-weight:700;
  font-size: 3rem;
  margin: .67em 0 .67em 0;
}

h2 {
  display: block;
  font-weight: 700;
  font-size: 2rem;
}

h3 {
  font-weight: 700;
  font-size: 1.7rem;
}

h4 {
  font-weight: 200;
  font-size: 1rem;
  line-height: 1.1;
}

h5 {
  font-weight: 600;
  font-size: .85rem;
}

.title {
  text-align: center;
  width: 100%;
}

.main {
  max-width: 1250px;
}

.main img {
  max-width: 100%;
}

.left-column {
  width: 60%;
  padding-right: 24px;
}

.left-column .text h2 {
  padding-bottom: 24px;
}

.left-column .text h5 {
  padding-top: 32px;
}

.right-column {
  width: 40%;
  display: flex;
  flex-direction: column;
}

.gray {
  background-color: #D3D3D3;
  width: auto;
}

a:link {
  color: #424242;
  text-decoration: none;
}

a:visited {
  color: #424242;
  text-decoration: none;
}

a:hover {
  color: #5697ff;
  text-decoration: underline;
}

/* ---HEADER--- */

.mobile-header {
  display: none;
}

.logo {
  height: 32px;
  display: flex;
  align-items: center;
  padding-left: 24px;
}

#bold {
  font-weight: 700;
  font-size: 1.3rem;
}

#normal {
  font-weight: 200;
  font-size: 1.3rem;
}

.desktop-header {
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav {
  padding-right: 24px;
  display: flex;
  align-items: center;
}

nav span {
  padding-left: 16px;
}


/* BANNER */

.banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 32px 0 32px 24px;
}

.banner-text {
  padding-right: 25%;
  width: auto;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #424242;
  color: #f2f2f2;
  padding: 8px 0;
  margin-top: 16px;
  transition: background-color .75s ease-out;
  transition: color 1s ease-out;
}

a.button:link {
  color: #f2f2f2;
}

a.button:visited {
  color: #f2f2f2;
}

a.button:hover {
  color: #424242;
  background-color: #5697ff;
}

.mobile {
  display: none;
}

/* INFORMATION */

.information {
  display: flex;
  flex-direction: row;
  padding-bottom: none;
}

.information .left-column {
  padding: 32px 24px 32px 0;
}

.information .right-column {
  padding: 16px 0 32px 0;
  border-left: solid #D3D3D3 1px;
}

.large-tout.text {
  padding-top: 32px;
}

.small-tout {
  display: flex;
  padding: 16px;
  margin: 1px 0 1px 0;
  border-top: solid #D3D3D3 1px;
}

.tout-image {
  width: 35%;
}

.small-tout .text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 65%;
  padding-left: 16px;
}

.small-tout .text h3,
.small-tout .text h4 {
  padding-bottom: 8px;
}

.small-tout:first-child {
  border-top: none;
  border-bottom: solid #D3D3D3 1px;
  margin-top: 0;
}

.information .small-tout:last-child {
  background-color: #D3D3D3;
  border-top: none;
}

.small-tout a:link {
  color: #5697ff;
  text-decoration: none;
}

.small-tout a:hover {
  color: #5697ff;
  text-decoration: underline;
}

.small-tout a:visited {
  color: #5697ff;
}

/* COURSES */

.learn {
  padding: 32px 56px 32px 32px;
}

.learn h2 {
  margin-bottom: 16px;
}

.courses {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.course {
  display: flex;
  flex-direction: column;
  flex-basis: 30%;
  width: 30%;
  margin: 16px;
}

.course img {
  width: 100%;
  height: auto;
  margin: 0;
}

.course .text-content {
  background-color: #ffffff;
  padding: 16px;
  min-height: 102px;
  height: 100%;
}

.course .text-content h4 {
  padding-top: 8px;
}

.course .text-content h3 {
  padding-bottom: 8px;
}


/* THESIS EXHIBIT */

.thesis {
  padding: 32px 0 32px 24px;
}

.thesis h2 {
  padding-bottom: 32px;
}

.thesis-info {
  display: flex;
}

.thesis-info .large-tout.text {
  padding-top: 24px;
}

.thesis-info .media {
  border: 2px solid #D3D3D3;

}

.thesis-info .text h3 {
  padding-bottom: 8px;
}

.thesis-info .small-tout:first-child {
  background-color: #D3D3D3;
}

/* FOOTER */

footer {
  border-top: solid #D3D3D3 1px;
  padding: 16px 0 48px 0;
}

footer .container {
  display: flex;
  justify-content: space-between;
}

.footer-group {
  display: flex;
  justify-content: space-between;
  padding-right: 24px;
}

.footer-group h5 {
  margin-left: 8px;
}


/* ------- MOBILE STYLES ------- */

@media only screen and (max-width: 750px) {

  /* universal styles: mobile */

  .main {
    width: 100%;
  }

  .left-column, .right-column {
    width: 100%;
    padding: 0;
  }

  .container {
    padding: 0 16px 0 16px;
  }

  .desktop {
    display: none;
  }

  img.mobile {
    display: block;
  }

  /* header: mobile */

  .desktop-header {
    display: none;
  }

  .mobile-header {
    display: flex;
    justify-content: space-around;
    height: 64px;
  }

  /* banner: mobile */

  .banner {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    margin: 0;
    width: 100%;
    padding: 0;
    overflow: hidden;
    height: auto;
  }

  .banner-text {
    padding: 32px 16px 32px 16px;
  }

  .banner-text h1 {
    margin: 0 0 32px 0;
  }

  .button {
    margin-top: 24px;
    font-weight: bolder;
    font-size: 1.3rem;
  }

  /* information: mobile */

  .information .left-column {
    display: none;
  }

  .information .right-column {
    border: none;
    padding-bottom: 0;
  }

  .small-tout {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding: 0;
    margin: 0 0 32px 0;
    border: none;
  }

  .information .small-tout:first-child,
  .information .small-tout:last-child {
    border: none;
    background-color: white;
  }

  .tout-image {
    width: 100%;
  }

  .tout-image img {
    width: 100%;
  }

.information .small-tout .text {
    padding: 16px 16px 0 16px;
  }

  /* learn: mobile */

  .container.learn.gray {
    background-color: #ffffff;
    border-top: solid #D3D3D3 1px;
    border-bottom: solid #D3D3D3 1px;
  }

  .learn h2 {
    padding-top: 32px;
  }

  .courses {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 32px;
  }

  .course {
    margin: 0 0 8px 0;
    width: 100%;
  }

  .course:last-child {
    margin-bottom: 0;
  }

  .course img {
    display: none;
  }

  .course .text-content {
    padding: 16px;
    min-height: inherit;
    background-color: #D3D3D3;
  }

  .course .text-content h3 {
    padding: 8px 0 8px 0;
  }

  .course .text-content h4 {
    display: none;
  }

  /* thesis: mobile */

  .thesis h2 {
    padding: 32px 0 16px 0;
  }

  .thesis-info {
    display: flex;
    flex-direction: column;
    margin: 0 -16px 8px -16px;
  }

  .thesis-info .large-tout,
  .thesis-info .right-column {
    display: none;
  }

  /* footer: mobile */

  footer {
    border-top: none;
  }

  footer h5 {
    margin: 16px 0 16px 0;
  }

  .footer-group {
    display: none;
  }

}
